@import "../variables";

.header {
  max-width: 1450px;
  margin: 0 auto;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid $light-gray;
  display: flex;

  &__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
    }
  }

  &__logo a {
    font-size: 25px;
    color: $black;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &__nav {
    margin-left: 50px;

    &-link li {
      color: $black !important;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 40px;
        color: #7e7e7e;
        letter-spacing: 0.4px;
        transition: all 0.2s;

        &:hover {
          color: $hover-red;
        }

        :active {
          color: $black;
        }
      }
    }
  }

  &__auth-button {
    background: transparent;
    border: 1px solid $black;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.4s;
    letter-spacing: 0.4px;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  &__dropdown {
    cursor: pointer;

    &-el {
      width: 150px;
      color: $black;
      cursor: text;
      font-weight: bold;
      border-bottom: 1px solid $light-gray;
      padding: 10px 0;
      margin-bottom: 10px;
    }

    &-user {
      padding: 6px;
      border-radius: 20px;
      border: 1px solid black;
    }
  }
}